{{ define "content" }}

{{if .Error}}
<div class="alert alert-danger" role="alert">
  {{.Error}}
</div>
{{end}}

{{if .Success}}
<div class="alert alert-success" role="alert">
  {{.Success}}
</div>
{{end}}

<div class="jumbotron" style="padding-top: 50px;">
   <h2> The most awesome web app in the world !</h2>
</div>
{{ end }}