{{ define "content" }}

{{if .Error}}
<div class="alert alert-danger" role="alert">
  {{.Error}}
</div>
{{end}}

{{if .Success}}
<div class="alert alert-success" role="alert">
  {{.Success}}
</div>
{{end}}

<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h2>Reset Password</h2>
    <hr>
    <form action="/password_reset" method="POST">
      <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
      </div>
      <button type="submit" class="btn btn-primary">Send Reset Link</button>
      <a class="btn btn-secondary" href="/signin">Back to Login</a>
    </form>
  </div>
</div>

{{ end }}