{{ define "content" }}

<div class="row">
  {{if .Error}}
  <h2>{{.Error}}</h2>

  {{else if .Success}}
  <div class="alert alert-success" role="alert">
    {{.Success}}
  </div>

  {{else}}
  <div class="col-md-offset-4 col-md-4">
    <h2>Change Password</h2>
    <hr>
    <form action="/password_change" method="POST">
      <div class="form-group">
        <label>Enter New Password</label>
        <input type="password" class="form-control" name="password">
        <input type="hidden" class="form-control" name="token" value="{{.Token}}">
      </div>
      <button type="submit" class="btn btn-primary">Reset</button>
    </form>
  </div>
  {{end}}

</div>

{{ end }}