{{ define "content" }}

{{if .Error}}
<div class="alert alert-danger" role="alert">
  {{.Error}}
</div>
{{end}}

{{if .Success}}
<div class="alert alert-success" role="alert">
  {{.Success}}
</div>
{{end}}

<div class="row">

  <br>

  <div class="col-md-offset-4 col-md-4">
    <h2>Sign In</h2>
    <hr>
    <form action="/signin" method="POST">
      <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>

    <br>

    <a href="/password_reset">Forgot Password ?</a>

    <div class="or-container">
      <div class="line-separator"></div>
      <div class="or-label">or</div>
      <div class="line-separator"></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-lg btn-google btn-block btn-outline" href="/oauth/google"><img
            src="https://img.icons8.com/color/16/000000/google-logo.png"> Sign In With Google</a>
      </div>
    </div>

    <div class="or-container">
      <div class="line-separator"></div>
      <div class="or-label">or</div>
      <div class="line-separator"></div>
    </div>

    <div class="col-md-12">
      <a class="btn btn-lg btn-google btn-block btn-outline" href="/signup">Create New Account</a>
    </div>
    <br>
  </div>
</div>

{{ end }}