{{ define "content" }}

{{if .Error}}
<div class="alert alert-danger" role="alert">
  {{.Error}}
</div>
{{end}}

{{if .Success}}
<div class="alert alert-success" role="alert">
  {{.Success}}
</div>
{{end}}

<div class="col-md-offset-4 col-md-4">
  <h2>Edit Information</h2>
  <hr>
  <form method="POST" action="/edit_profile">
    <div class="form-group">
      <label>Full Name</label>
      <input type="text" class="form-control" name="fullname" value="{{.FullName}}">
    </div>
    <div class="form-group">
      <label>Address</label>
      <input type="text" class="form-control" name="address" value="{{.Address}}">
    </div>
    <div class="form-group">
      <label>Telephone</label>
      <input type="text" class="form-control" name="telephone" value="{{.Telephone}}">
    </div>
    <div class="form-group">
      <label>Email</label>
      {{ if .EmailDisabled }}
      <input type="text" class="form-control" name="email" value="{{.Email}}" disabled>
      {{ else }}
      <input type="text" class="form-control" name="email" value="{{.Email}}">
      {{ end }}
    </div>
    <button type="submit" class="btn btn-primary">Save & Continue</button>
    <a href="/profile" class="btn btn-secondary" role="button">Cancel</a>
  </form>

</div>

{{ end }}