{{ define "content" }}
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h2>Your Information</h2>
    <hr>
    <div class="form-group">
      <b>Full Name:</b>
      <span>{{.FullName}}</span>
    </div>
    <div class="form-group">
      <b>Address:</b>
      <span>{{.Address}}</span>
    </div>
    <div class="form-group">
      <b>Telephone:</b>
      <span>{{.Telephone}}</span>
    </div>
    <div class="form-group">
      <b>Email:</b>
      <span>{{.Email}}</span>
    </div>
    <a href="/edit_profile" class="btn btn-info" role="button">Edit Profile</a>
    <a href="/signout" class="btn btn-danger" role="button">Log out</a>
  </div>
</div>

{{ end }}